html {
  height: 100%;

  body {
    padding-bottom: 2rem;
    background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}
